body { margin:0; font-family:Arial; }

h1 {color: rgb(0,0,0); font-family: times; font-style: italic;}
a {color: rgb(142, 142, 142); text-decoration: none;}

#progressbar { position:fixed; top: 30%; width: 200px; height: 10px; margin-left: 45%; margin-right: 50%; }

.userbar { position:fixed; top: 0px; left:0px; height: 20px; width: 100%; border-bottom:1px solid black;text-align:right; }
.userstatus {}

#content { position:fixed; top: 0px; left:0px; width: 100%; height: 100%; }
#mainView { position:fixed; top: 30%; margin-top: 20px; margin-left: 45%; margin-right: 50%; }
#welcome { width: 350px; margin-left: auto; margin-top: 10%; margin-right: auto; text-align:center; }
#confirm { width: 350px; margin-left: auto; margin-top: 10%; margin-right: auto; text-align:center; }

fieldset#login { padding-top: 10px;  }

fieldset {
	z-index: 0;	width: 230px; margin-left: auto; margin-top: 10%; margin-right: auto; text-align:center;border: 0;
	/* Fallback no RGBa */ background: rgb(255, 255, 255);
	/* RGBa */ background: rgba(255, 255, 255, 0.5);
	/* For IE 5.5 - 7*/	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/ -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
legend {
    padding: 2px;  color: rgb(142, 142, 142);
}
fieldset div { margin: 1px 15px 5px 15px; padding: 2px; height: 20px; width: 200px; }
fieldset div span {
	position:relative; top: -20px; left: 10px; width: auto; height: 15px; z-index: 1; display:block;
	font-size: small;  color: rgb(142, 142, 142);text-align:left;
}
fieldset div input  {
	position:relative; top: 0px;left: 0px; z-index: 2;display:block; padding: 0 0 0 7px;
	width: 200px; border: 1px solid #E5E5E5; color: green; font-weight: bold;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	/* Fallback no RGBa */ background: rgb(0, 0, 0) transparent;
	/* RGBa */ background: rgba(0, 0, 0, 0.08);
	/* For IE 5.5 - 7*/ filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/ -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
fieldset div input[type="submit"], fieldset div input[type="submit"]:focus  {
	color: rgb(142, 142, 142); margin: 0px 0px 0px 100px; width: 100px; 
	/* Fallback no RGBa */ background: rgb(255, 255, 255);
	/* RGBa */ background: rgba(0, 0, 0, 0.05); 
	/* For IE 5.5 - 7*/ filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/ -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

fieldset div input[type="submit"]:active {
	/* Fallback no RGBa */ background: rgb(205, 205, 205);
	/* RGBa */ background: rgba(0, 0, 0, 0.01);
	/* For IE 5.5 - 7*/ filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/ -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
fieldset div input:focus {
	/* Fallback no RGBa */ background: rgb(255, 255, 255);
	/* RGBa */ background: rgba(255, 255, 255, 0.5);
	/* For IE 5.5 - 7*/filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/ -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

